@import "../../styles/variables.scss";

header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background-color: transparent;
   z-index: 9999;
   transition: all 0.25s ease-in-out;
   .header {
      display: flex;
      padding: 80px 15px;
      align-items: center;
      justify-content: space-between;
      transition: all 0.25s ease-in-out;
      &__logo {
         @media (max-width: 768px) {
         }
         > img {
            max-height: 32px;
         }
      }
      &__nav {
         display: flex;
         align-items: center;
         &--left {
            @media (max-width: 768px) {
               width: 100%;
            }
         }
         &--right {
            @media (max-width: 768px) {
               display: none;
            }
         }
         &--login-btn {
            @media (min-width: 768px) {
               display: none;
            }
         }
      }
      &__nav-links {
         display: flex;
         list-style: none;
         padding-left: unset;
         margin-left: 2rem;
         @media (max-width: 768px) {
            margin-left: unset;
            width: 100%;
            justify-content: space-evenly;
         }
      }
      &__nav-link {
         margin: 0 15px;
         @media (max-width: 768px) {
            margin: 0 10px;
         }
      }
   }
   &.scrolled {
      background: $header-gradient;
      box-shadow: $shadow;
      .header {
         padding: 14px 30px;
      }
   }
}
